.notfoundtext {
    align-items: center;
    color: white;
    font-size: 200px;
    bottom: 100px;
}

.just {
    background-image: url('./4044.jpg');
    display: block;
    background-size: cover; 
    display: block;
    bottom: 10px;
}

.no-page-break {
    display: inline-block;
    width: 100%;
    page-break-inside: avoid;
 }
 
 .error-picture {
    background-size: contain;
    width: 1300px;
    align-items: center;
    height: 800px;
 }

 .back-home {
    position: fixed;
    bottom: 215px;
    right: 575px;
    color: black;
    text-align: right;
    text-decoration: none;

    background-color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    opacity: 50%;
}

.back-home:hover {
    opacity: 75%;
    text-decoration: none;
    color: black;
}

Link {
    margin-right: 100px;
}